<!DOCTYPE html>
<html>
<style>
form {
    border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #00BFFF;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
</style>
<body>



<form action="/ask/addspeakers" method='post' >

  <div class="container">
    <label><b>Mac Address</b></label>
    <input type="text" placeholder="Enter Serial Number" name="num_serie" required>

    <label><b> Device Name </b></label>
    <input type="text" placeholder="Enter Name" name="name" required>
        
    <button type="submit">Add device</button>
    
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button id="showbtn" type="button" class="cancelbtn" onclick="show()"> list device</button>
    <button id="hidebtn" type="button" class="cancelbtn" onclick="hide()" hidden="true">Hide List</button>
    <div id="list" ></div>
  </div>
</form>
    <script  type="text/javascript">
      function show(){
          document.getElementById('hidebtn').hidden=false
          document.getElementById('showbtn').hidden=true
            var xmlHttp = new XMLHttpRequest();
                xmlHttp.open( "GET", "/ask/getspeakers", false ); // false for synchronous request
                xmlHttp.send( null );
                listSpeaker= JSON.parse(xmlHttp.responseText)
                var divlist=document.getElementById('list')

                listSpeaker.forEach(function(device){
                    console.log(device)
                var h5 = document.createElement('div')
                var btn = document.createElement('button')
                
                h5.innerHTML= 'Device Name : '+device.name+ ', Serial Number :  ' +device.num_serie
                
                h5.id=device.num_serie
               
                h5.onclick=function(){
                    var deleteIt=confirm('do you want to delete this element with serial number '+ this.id)
                   if(deleteIt != true){
                       console.log('not delete')
                   }else{
                       var data = new FormData();
                       data.append('num_serie',this.id)
                       console.log('delete',this.id)
                       var xmlHttp = new XMLHttpRequest();
                         xmlHttp.open( "POST", "/ask/deleteSpeakerByNumSerie", true ); // false for synchronous request
                         xmlHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded"); // false for synchronous request
                         xmlHttp.onreadystatechange = function() {//Call a function when the state changes.
                            if(xmlHttp.readyState == XMLHttpRequest.DONE && xmlHttp.status == 200) {
                            console.log('finished')
                            document.getElementById('hidebtn').hidden=true
                            document.getElementById('showbtn').hidden=false
                            document.getElementById('showbtn').innerHTML="show  list device"
                            var divlist=document.getElementById('list')
                            divlist.innerHTML=''

                            }
                        }
                     xmlHttp.send('num_serie='+this.id);
                
                   }
                }



                divlist.appendChild(h5)
              

                })
        }

        function hide(){
            document.getElementById('hidebtn').hidden=true
            document.getElementById('showbtn').hidden=false
            document.getElementById('showbtn').innerHTML="show  list device"
              var divlist=document.getElementById('list')
              divlist.innerHTML=''

        }
    </script>
</body>
</html>
