<footer>

    <p>
        <span style="text-align:left;float:left">&copy; 2016 <a href="http://www.skideev.com" alt="Skideev Industrial Company Limited">Skideev Industrial Company Limited</a></span>

    </p>

</footer>
<!-- end: JavaScript-->